body {
    display: flex; /* I'm an idiot. I was missing the most important of all [facepalm] */
    flex-direction: column;
}
header {
    height: 3rem;
}
main {
    flex-grow: 1;
}
footer {
    height: 2rem;
}
