body {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    align-items: center;
    height: 3rem;
}
#second {
    flex-grow: 1;
}
main {
    flex-grow: 1;
}
footer {
    height: 2rem;
}
